include mixins
extends layout
block head
    script(src='/js/phaser.js')
    script(src='/js/boot.js')
    script(src='/js/preload.js')
block content
  //- Navigation var
  .container
    +nav("UnknownNigths", "dropdown_menu", "inverse")
        +nav_item( "/" ) Home
        +nav_item( "about" ) About
        +nav_item( "play", "active" ) Play
   .canvas(style="padding-top: 0px;")
   script(src='/js/client.js')
    
